	.logo {
		height: 50px;
		width: 50px;
	}
	.userButton:hover {
		border-radius: 40px;
		background-color: rgba(211, 211, 211, 0.2);
		transition: 0.3s;
		color: black;
		
	}
	.userButtonActive {
		font-weight: bold;
	}
	.uFont {
		color: black;
	}
	.uFont:hover {
		color: black;
	}